on:
  workflow_dispatch: {}
  pull_request:
    branches-ignore:
      - release-please--branches--main
  push:
    branches:
      - main
      - master
      - '!release-please--branches--main'
    paths:
      - .github/workflows/semgrep.yml
  schedule:
  # random HH:MM to avoid a load spike on GitHub Actions at 00:00
  - cron: 12 21 * * *
name: Semgrep
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: semgrep/semgrep
    steps:
    - uses: actions/checkout@v6
    - run: semgrep ci
